.expenseItem_card {
  display: grid;
  grid-template-rows: 2;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #e5e7eb;
  border-radius: 0.25rem;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.expenseItem__container {

  gap: 1rem;
  align-items: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: flex-start;
  flex: 1;
}

.expenseItem_card:hover {
  background-color: #f3f4f6;
  border-color: #d1d5db;
}

.expenseItem__description {

  gap: 1rem;
  align-items: flex-start;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: flex-start;
  flex: 1;
}

.expenseItem h2 {
  color: #374151;
 
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

.expenseItem__price {
  font-size: 1rem;
  font-weight: 600;

  color: white;
  background-color: #7dd3fc;
  border: 1px solid #7dd3fc;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition-duration: 150ms;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}



.expenseItem__price:focus {
  outline: none;
  box-shadow: 0 0 0 2px #9cdcf7;
} 





  .expenseItem__Button {
    background-color: #075985;
    border: 1px solid #7dd3fc;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
    transition-duration: 150ms;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  }
  
  .expenseItem__Button:hover {
    background-color: #6ec1e4;
    border-color: #6ec1e4;
  }
  
  .expenseItem__Button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9cdcf7;
  }
  
  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 1.25rem;
    }
  
    .expense-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }